*{
    margin: 0;
    padding: 0;
  }

html{
    font-size: 50%;
  }

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
  }

  header{
    background-color: #123274;
}
.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .tittle span {
    color: #123274;
  }

  .tittle {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5.6rem;
    line-height: 7.4rem;
    color: #000000;
  }

  .text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #000000;
    opacity: 0.7;
  }

  button{
    font-family: Roboto;
    background-color: #123274;
    font-style: normal;
    font-weight: bold;
    font-size: 1.9rem;
    line-height: 2.2rem;
    text-align: center;
    color: #FFFFFF;
  }

  button:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
    background-color: white;
    transition: all 0.3s;
  }


select{
    width: 250px;
    height: 60px;
    background: #ffffff;
    color: #000000;
    opacity: 0.5;
    border: 3px solid #123274;
    box-sizing: border-box;
    box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.2);
    /* border-radius: 15px; */
    border-radius: 41px 0px 0px 41px;
    text-align: left;
    padding-left: 15px;
}